/* Selecionando o cite inteiro para colocar o cursor personalizado */

*{
    cursor: url(/Media/Cursor/Pointer.png), auto;
}

body{
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Header do site e configuração dos icones */

.header{
    z-index: 10;
    width: 100%;
    height: 8dvh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    align-self: auto;
    top: 0;
}

.header img{
    padding-left: 2dvh;
    padding-right: 2dvh;
}

.logo_image_header img{
    height: 7dvh;
    width: auto;
}

.user_icon img,
.menu_bar img{
    height: 5dvh;
    width: auto;
}

/* Parte principal "A melhor premiação da internet" */

.background_with_video {
    width: auto;
    height: 83dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background_with_video video{
    z-index: -1;
    width: 100%;
    height: 83dvh;
    position: absolute;
    top: 8dvh;
    object-fit: cover;
}

/* Configurando as caixas informatívas */

.info_box {
    z-index: 2;
    background-color: hsla(0, 100%, 100%, 0.8);
    width: 65dvw;
    height: 65dvh;
    border-radius: 20px;
    text-align: center;
}

.info_box_title{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 4dvh;
    margin-bottom: 3.5dvh;
}

.info_box_table{
    width: 100%;
    height: auto;
    background-color: gray;
    display: flex;
}

.info_box_table_section1,
.info_box_table_section2,
.info_box_table_section3 {
    width: 33%;
    height: auto;
}

.info_box_table_section_title{
    font-size: 2.5rem;
}

.info_box_table_section_body{
    font-size: 1.7rem;
    padding-left: 5%;
    padding-right: 5%;
}

.separator_info_box_table {
    border-style: hidden dotted hidden hidden;
    border-width: 0.5dvh;   
    width: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0.8% 0 0.8% 0;
}

/* Parte dos últimos ganhadores */

.background_winners_home{
    width: 100%;
    height: 110dvh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.winners_title{
    font-size: 4rem;
    font-weight: 600;
    padding-top: 5dvh;
    padding-bottom: 5dvh;
}

.box_winners{
    width: 70dvw;
    height: 85dvh;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box_winners_table1,
.box_winners_table2,
.box_winners_table3,
.box_winners_table4{
    display: flex;
    width: 40%;
    height: 40%;
}

.box_winners_table_image img{
    width: 35%;
    height: auto;
}